
  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
table, td, th {
  border: 1px solid white;
  text-align: center;
  width: 80%;
  white-space: nowrap;
}

h2 {
  font-family: Helvetica;
  font-size: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-family: Helvetica;
  font-size: H2;
  border: white;
  margin: 50 0 0 0;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
  color: white;
}

body {
    color:grey;
}

.video {
    color: white;
}

.seen {
    color: #90b6c3;
}

.audio {
    color: red;
}

.books {
    color: brown;
}

a[href]:hover {
	text-decoration: underline;
}

body {
    text-align: center;
}

.button {
    margin: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow:    0 8px 0 #8ca3ba, 0 15px 20px rgba(0, 0, 0, .35);
    -moz-box-shadow: 0 8px 0 #8ca3ba, 0 15px 20px rgba(0, 0, 0, .35);
    box-shadow: 0 8px 0 #8ca3ba, 0 15px 20px rgba(0, 0, 0, .35);
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
    -moz-transition: -moz-box-shadow .1s ease-in-out;
    -o-transition: -o-box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
    font-size: 30px;
    color: #fff;
    width: 90%
}

.button span {
    display: inline-block;
    margin-bottom: 20px;
    padding: 5px 5px;
    background-color: #00bfff;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(38, 76%, 6%, .2)), to(hsla(38, 26%, 6%, .2)));
    background-image: -webkit-linear-gradient(hsla(38, 76%, 80%, .8), hsla(38, 26%, 70%, .2));
    background-image: -moz-linear-gradient(hsla(38, 90%, 80%, .8), hsla(38, 26%, 6%, 1));
    background-image: -o-linear-gradient(hsla(38, 90%, 80%, .8), hsla(38, 26%, 6%, 1));
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    font-family: 'Pacifico', Arial, sans-serif;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .7);
    -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
    -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
    transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}

.button:hover span {
    background-color: #000000;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .9), 0 0 5px rgba(255, 255, 255, .8);
}

.button:active, .button:focus {
    -webkit-box-shadow:    0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, .3);
    box-shadow:    0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, .3);
}

.button:active span {
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
}

span {
 width: 80%;
 text-align: center;
}
