table, td, th {
  border: 8vh solid white;
  text-align: center;
  width: 80%;
  white-space: nowrap;
}

h1 {font-size: 10vh; font-family: Arial, serif}
h2 {font-size: 5vh; font-family: Arial, serif}
h2.h2_orig {font-size: 12px; font-family: Arial, serif}



table {
  border-collapse: collapse;
  width: 100%;
  font-family: Arial, serif;
  font-size: 10px;
  border: white;
  margin: 0 0 0 0;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
  color: white;
}

body {
    color:grey;
}

.video {
    color: white;
}

.seen {
    color: #90b6c3;
}

.audio {
    color: red;
}

.books {
    color: brown;
}

a[href]:hover {
	text-decoration: underline; color: white;
}

body {
    text-align: center;
}

.button {
    margin: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow:    0 8px 0 #8ca3ba, 0 15px 20px rgba(0, 0, 0, .35);
    -moz-box-shadow: 0 8px 0 #8ca3ba, 0 15px 20px rgba(0, 0, 0, .35);
    box-shadow: 0 8px 0 #8ca3ba, 0 15px 20px rgba(0, 0, 0, .35);
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
    -moz-transition: -moz-box-shadow .1s ease-in-out;
    -o-transition: -o-box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
    font-size: 10vh;
    color: #fff;
    width: 50%
}



.button span {
    display: inline-block;
    margin-bottom: 8vh;
    padding: 5px 5px;
    background-color: #00bfff;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(38, 76%, 6%, .2)), to(hsla(38, 26%, 6%, .2)));
    background-image: -webkit-linear-gradient(hsla(38, 76%, 80%, .8), hsla(38, 26%, 70%, .2));
    background-image: -moz-linear-gradient(hsla(38, 90%, 80%, .8), hsla(38, 26%, 6%, 1));
    background-image: -o-linear-gradient(hsla(38, 90%, 80%, .8), hsla(38, 26%, 6%, 1));
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    font-family: 'Pacifico', Arial, sans-serif;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .7);
    -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
    -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
    transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}

.button:hover span {
    background-color: #000000;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .9), 0 0 5px rgba(255, 255, 255, .8);
}

.button:active, .button:focus {
    -webkit-box-shadow:    0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, .3);
    box-shadow:    0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, .3);
}

.button:active span {
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
}

span {
 width: 80%;
 text-align: center;
}
